
<body>
    <div class="bgi">
        <div class="bgc bgs">
            <div id="introBox">Canberra Restaurants</div>
            <div id="quote"><h1>Restaurants</h1></div>
        </div>
    </div>
    <div class="container-fluid bgi">
        <div class="row bgc centre">
            <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/bellucis_logo.jpg');"
                 onmouseover="displayInfo('div1')" onmouseout="removeInfo('div1')">
                <div class="ResInfo" id="div1" onclick="displayImage('../images/bellucis.jpg')">
                    <div class="block">
                        <h3 class="h3s">Belluci’s Italian</h3>
                        <p class="ps">
                            "Belluci's demonstrates a new concept, a new food philosophy – the dawn of a new era in Canberra dining.
                            Having been established more than 20 years ago, Belluci's fast became an iconic name in Canberra.
                            To bring you the finest dishes, we’ve gone back to traditional Italian routes, creating simple, rustic food."

                            <br />Belluci's Italian Website.
                        </p>
                        <button class="website" onClick="parent.location='https://bellucis.com.au/home.php'">Web Site</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="  background-image: url('../images/is_logo.jpg');"
                 onclick="displayImage('../images/itandsons_car.jpg')" onmouseover="displayInfo('div2')" onmouseout="removeInfo('div2')">
                <div class="ResInfo" id="div2">
                    <div class="block">
                        <h3 class="h3s">Italian and Sons</h3>
                        <p class="ps">
                            "A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma,
                            rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig,
                            rosemary, garlic, baked baby fennel & mustard fruits."
                        </p>
                        <p class="ps">Australian Good Food Guide Website.</p>
                        <button class="website" onClick="parent.location='http://italianandsons.com.au/'">Web Site</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/bluginger_logo.jpg');"
                 onclick="displayImage('../images/bluginger_car.jpg')" onmouseover="displayInfo('div3')" onmouseout="removeInfo('div3')">
                <div class="ResInfo" id="div3">
                    <div class="block">
                        <h3 class="h3s">Blu Ginger</h3>
                        <p class="ps">
                            "At Blu Ginger we use only the freshest locally sourced produce, combined with authentic
                            spices imported directly from the sub-continent, to offer classic, traditional recipes with
                            a modern twist, creating a unique and memorable dining experience for you."
                        </p>
                        <p class="ps">Blu Ginger Website.</p>
                        <button class="website" onClick="parent.location='http://www.bluginger.com.au/'">Web Site</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/jewel_logo.jpg');"
                 onclick="displayImage('../images/jewel_car.jpg')" onmouseover="displayInfo('div4')" onmouseout="removeInfo('div4')">
                <div class="ResInfo" id="div4">
                    <div class="block">
                        <h3 class="h3s">Jewel of India</h3>
                        <p class="ps">
                            "Finding a balance between dishes inspired by authentic recipes and creating a modern take on
                            classic cuisine sees a loyal following of Canberra locals returning for a mouth-watering feast."
                        </p>
                        <p class="ps">Australian Good Food Guide Website.</p>
                        <button class="website" onClick="parent.location='http://www.jewelofindia.com.au/'">Web Site</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/chairman_logo.jpg');"
                 onclick="displayImage('../images/chairman_car.jpeg')" onmouseover="displayInfo('div5')" onmouseout="removeInfo('div5')">
                <div class="ResInfo" id="div5">
                    <div class="block">
                        <h3 class="h3s">Chairman & Yip</h3>
                        <p class="ps">
                            "The Chairman & Yip has become one of Canberra’s longest standing and most highly regarded institutions,
                            having received numerous awards over the years, offering an ever consistent and professional quality
                            of service for corporate dining, conferences and presentations."
                        </p>
                        <p class="ps">Chairman & Yip website.</p>
                        <button class="website" onClick="parent.location='http://chairmangroup.com.au/chairmanyip/'">Web Site</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12" id="bglogo" style="background-image: url('../images/noodle_logo.jpg');"
                 onclick="displayImage('../images/dicksonnoodle_car.jpeg')" onmouseover="displayInfo('div6')" onmouseout="removeInfo('div6')">
                <div class="ResInfo" id="div6">
                    <div class="block">
                        <h3 class="h3s">Dickson Asian Noodle House</h3>
                        <p class="ps">
                            "The Dickson Asian Noodle House specialises in traditional Malaysian, Thai and Lao cuisine.
                            The dining atmosphere is casual and cosy providing for a la carte dining, banquets and take away."
                        </p>
                        <p class="ps">Vibe FM Website.</p>
                        <button class="website" onClick="parent.location='https://www.facebook.com/pages/Dickson-Asian-Noodle-House/156690017692038'">Web Site</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                @model IEnumerable<AspNetUserRolesEntityFramework.Models.DiscussionForum>
                @foreach (var item in Model)
                {
                    <hr style="background-color:orange; height:2px; margin-bottom:50px" />
                    <h3>@Html.DisplayFor(modelItem => item.Heading)</h3>
                    <h5>@@@Html.DisplayFor(modelItem => item.TopicTitle)</h5>
                    <p>
                        @{
                            for (int i = 0; i < item.Like; i++)
                            {
                                <span style="color: #f8bd08; font-size:25px ">&#x2605;</span>
                            }
                            for (int i = 0; i < 5 - item.Like; i++)
                            {
                                <span style="font-size:25px">&#x2606;</span>
                            }
                        }

                    </p>
                    <p>@Html.DisplayFor(modelItem => item.MessageContent)</p>
                    <p>
                        Review by <b>@Html.DisplayFor(modelItem => item.UserName)</b> on
                        <b>@Html.DisplayFor(modelItem => item.PostDate)</b>
                    </p>
                    <div class="row">
                        <div class="col-4">
                            <a asp-controller="DiscussionForums" asp-action="Details" asp-route-id="@item.Id" class=" btn btn-light">Details</a>
                            <a asp-controller="DiscussionForums" asp-action="Agree" asp-route-id="@item.Id" class=" btn btn-success">Agree (@Html.DisplayFor(modelItem => item.Agree))</a>
                            <a asp-controller="DiscussionForums" asp-action="Disagree" asp-route-id="@item.Id" class=" btn btn-danger">Disagree (@Html.DisplayFor(modelItem => item.Disagree))</a>
                        </div>
                        <div class="col-6"></div>
                        @if (User.IsInRole("Manager"))
                        {
                            <div class="col-2">
                                <a asp-controller="DiscussionForums" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-light">Edit</a>
                                <a asp-controller="DiscussionForums" asp-route-page="Review" asp-route-folder="Home" asp-action="Delete" asp-route-id="@item.Id" class=" btn btn-light">Delete</a>
                            </div>
                        }
                    </div>
                }

</body>