@model AspNetUserRolesEntityFramework.Models.DiscussionForum

<body>
    <div class="bgis">
        <div class="bgc bgs">
            <div id="introBox">Canberra Restaurants</div>
            <div id="quote"><h1>Review Details</h1></div>
        </div>
    </div>
</body>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <hr style="background-color:orange; height:2px; margin-top:20px;" />
        <h3 style="letter-spacing:2px">REVIEW</h3>
        <hr style="background-color:orange; height:2px" />
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Heading)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Heading)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TopicTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TopicTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Like)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Like)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MessageContent)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MessageContent)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Agree)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Agree)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Disagree)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Disagree)
            </dd>
        </dl>
    </div>
</div>
    <div class="row">
        <div class="col-md-2"></div>
             <a asp-controller="Home" asp-action="Review">Back to List</a>
        </div>

    
